/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*Made by Paslo*/
#banner{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height: 400px;
	padding-top:0px;
}

#contact p{
	margin: 5px 0px;
}

.icons{
	margin: 18px 0px;
}

.networkIcon{
	height: 170px;
	width: 170px;
}


/*Made by Paslo*/
/*Made by Jero*/
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.card img{
	width: 100px;
	height: 100px;
	-webkit-clip-path: polygon(0 0, 49% 100%, 100% 0);
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
	margin: 10px;
	padding: 10px;
}

#who{
	background: #4db6ac;
	color:#004d40;
}

.divider{
	height: 2px;
	background: #e0f2f1;
	margin-right: 20%;
	margin-left: 20%;
}